extends layout

block layout-content
  div.View
    h1.Banner HighChart Image Generate
    div.Container
      a.Item(href="/public/assets/bar.png" target="_blank")
        img.Image(src="/public/assets/bar.png", alt="PNG")
        span.Title PNG
      a.Item(href="/public/assets/bar.jpg" target="_blank")
        img.Image(src="/public/assets/bar.jpg", alt="JPEG")
        span.Title JPG
      a.Item(href="undefinedchart.svg" target="_blank")
        img.Image(src="undefinedchart.svg", alt="SVG")
        span.Title SVG
    div.NavButtons
      a.Disabled(href="/")
        div.NavButton HOME
      a(href="/png-report")
        div.NavButton PNG Format
      a(href="/jpg-report")
        div.NavButton JPEG Format
      a(href="/svg-report")
        div.NavButton SVG Format
      a(href="/base64-report")
        div.NavButton BASE64 Format